<form [formGroup]="form" (ngSubmit)="registrar()">
    <h1>Criar conta</h1>
    <p>No banco mais TOP das galáxia</p>
    <input type="email" placeholder="E-mail" formControlName="email">
    <input type="text" placeholder="Username" formControlName="username">
    <input type="password" placeholder="Senha" formControlName="senha">
    <input type="number" placeholder="Saldo Inicial" formControlName="saldoInicial">
    <button type="button">Criar Conta</button>
    <button type="button" routerLink="/login">Já possui conta</button>
</form>