.pokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;


    .item {
        background: linear-gradient(to top, red 0%, blue 100%);
        color: white;

        display: flex;
        flex-direction: column;
        gap: 6px;

        border-radius: 15px;
        box-shadow: 10px 20px 30px rgba(0, 0, 0, .33);
    }
}