<mat-toolbar>

    <ng-container *ngIf="!(user | async )">
        <button mat-raised-button routerLink="/login" routerLinkActive="ativo">Login</button>
        <button mat-raised-button routerLink="/registrar" routerLinkActive="ativo">Registrar</button>
    </ng-container>
    <ng-container *ngIf="!!(user | async )">
        <button mat-raised-button routerLink="/principal" routerLinkActive="ativo">Principal</button>
        <button mat-raised-button routerLink="/tarefa" routerLinkActive="ativo">Tarefa</button>
        <button mat-raised-button routerLink="/dash" routerLinkActive="ativo">Dash</button>
        <button mat-raised-button routerLink="/funcionalidade" routerLinkActive="ativo">funcionalidade</button>
        <span style="flex:auto"></span>
        <span class="saldo">
            {{ 54000.96 | number}}
        </span>
        <button mat-raised-button color="accent"> Comprar Baú</button>
        <button mat-raised-button routerLink="/profile"> {{(user | async ).username}}</button>
        <button mat-raised-button (click)="user.next(null)">Sair</button>
    </ng-container>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>