<nav style="display: flex; flex-direction: row;">
    <button routerLink="/login" routerLinkActive="ativo">Login</button>
    <button routerLink="/registrar" routerLinkActive="ativo">Registrar</button>
    <button routerLink="/principal" routerLinkActive="ativo">Principal</button>
    <button routerLink="/tarefa" routerLinkActive="ativo">Tarefa</button>
    {{(user | async ) | json}}
    <span style="flex:auto"></span>
    <button *ngIf="!!(user | async )" (click)="user.next()">Sair</button>
</nav>
<router-outlet></router-outlet>