:host {
    padding: 12px;
    border: solid 1px red;
    border-radius: 5px;
    margin-bottom: 5px;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}